.request-friend{
    text-align: center;
}
.request-accept{
    width: 20%;
    display: inline-block;
}
.request-decline{
    width: 20%;
    display: inline-block;
}
.accept-icon{
    color: green;
}
.decline-icon{
    color: red;
}