<mat-card class= "left-chat-card">
    <mat-list class="left-chat-list">
        <mat-list-item class="left-chat-list-item" *ngFor="let info of friendInfos;" (click) = "clickOnFriend(info.user_id)" [ngStyle] = "{'pointer-events': (info.waitingForFriend)?'none':'visible'}">
            <div class="friend-waiting" *ngIf = "info.waitingForFriend">Waiting For Accept!</div>
            <div class="red-notice" *ngIf ="notices != null && notices.get(info.user_id) != null && notices.get(info.user_id) > 0"><span>{{(notices.get(info.user_id))}}</span></div>
            <img [ngStyle] = "{'opacity': (!info.waitingForFriend)?1:0.1}" matListAvatar src="https://cdn.pixabay.com/photo/2018/02/08/22/27/flower-3140492__340.jpg" alt="...">
                <h3 [ngStyle] = "{'opacity': (!info.waitingForFriend)?1:0.1}" matLine> {{info.display_name}} </h3>
                <p [ngStyle] = "{'opacity': (!info.waitingForFriend)?1:0.1}" matLine>
                    <span> {{info.nickname}} </span>
                </p>
        </mat-list-item>
    </mat-list>
    <div class="left-footer">
        <div style="height: 70%; width: 100%">
                <app-search-friend></app-search-friend>
        </div>
        <div class="logout-button">
            <button class="logout-btn" mat-raised-button color="primary" (click)="logoutHandle()" mat-button>Logout</button>
        </div>
    </div>
</mat-card>  
