.left-chat-card{
    display: inline-block;
    background-color: rgba(52, 152, 219, 1);
    // height: 580px;
    height: 100%;
    width: 30%;
    padding: 10px;
    position: relative;
}
.left-chat-list{
    // max-height: 423px;
    max-height: 70%;
    height: 70%;
    overflow: auto;
}
.left-footer{
    height: calc(30% - 20px);
    padding: 10px;
}
.logout-button{
    height: calc(30% - 20px);
    text-align: center;
    padding: 5px;
    .logout-btn{
        // height: calc(100%- 20px);
    }
}
// .left-chat-list-show{
//     // max-height: 423px;
//     height: 680px;
//     overflow: auto;
// }
.left-chat-card-show{
    display: inline-block;
    background-color: rgba(52, 152, 219, 1);
    height: 562px;
    width: 30%;
    padding: 10px;
}
.left-chat-list-item:hover{
    background-color: red;
    cursor: pointer;
}