.chat-card{
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0); 
    -moz-transform: translate3d(-50%, -50%, 0);  
    transform: translate3d(-50%, -50%, 0); 

}
.left-chat-card{
    display: inline-block;
    background-color: rgba(52, 152, 219, 1);
    height: 451px;
    width: 30%;
}
.right-chat-card{
    display: inline-block;
    background-color: rgba(82, 179, 217, 0.6);
    width: 60%;
}
.left-chat-list{
    max-height: 423px;
    height: 700px;
    overflow: scroll;
}
.right-chat-list{
    max-height: 370px;
    height: 700px;
    overflow: auto;
    margin-bottom: 10px;
}
.chat-item-user{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgba(77, 5, 232, 0.5);
    padding: 10px;
    box-sizing: border-box;
    display: block;
    /* max-width: 100px; */
}
.chat-item-friend{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: rgba(123, 239, 178, 1);
    padding: 10px;
    box-sizing: border-box;
    display: block;
    /* max-width: 100px; */
}
.item-list{
    display: block;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
    position: relative;
}
.item-ripper{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
}
.item-user{
    display: flex;
    flex-direction: row;
    align-items: top;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    margin-bottom: 10px;
    // justify-content: flex-end;
}
.item-friend{
    display: flex;
    flex-direction: row;
    align-items: top;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.item-image{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background-color: antiquewhite;
    height: 50px;
    border-radius: 5px;

}
.comment-area{
    width: calc(100% - 56px);
    max-height: 50px;
    overflow: auto;
    margin-left: 10px;
    //     padding-top: 10px;
    // padding-bottom: 10px;
}
.comment-button{
    display: inline;
    margin: 0px;
    background-color: antiquewhite;
    border: none;
    align-content: center;
    align-items: center;
}
.comment-button:hover{
    .send-icon{
        transform: rotate(-45deg);
    }    
}
.chat-comment-card{
    background-color: rgba(82, 179, 217, 0.6);
}
