<div class="chat-card">
    <mat-card class="left-chat-card">
      <mat-list class="left-chat-list">
          <mat-list-item class="left-chat-list-item-user" *ngFor="let person of persons">
            <img matListAvatar src="https://cdn.pixabay.com/photo/2018/02/08/22/27/flower-3140492__340.jpg" alt="...">
            <h3 matLine> {{person.name}} </h3>
            <p matLine>
              <span> {{person.age}} </span>
            </p>
          </mat-list-item>
        </mat-list>
  </mat-card>
  <mat-card class="right-chat-card">
    <mat-list class="right-chat-list" #scrollMe infiniteScroll>
      <div *ngFor="let message of messages" >
          <div class="item-list">
            <div class="item-{{(message.id == 1 ? 'user': 'friend')}}">
                <div class="item-ripper"></div>
                <img *ngIf ="message.id == 1" class="item-image" src="https://cdn.pixabay.com/photo/2018/02/08/22/27/flower-3140492__340.jpg" alt="...">
                <div class="chat-item-{{(message.id == 1 ? 'user': 'friend')}}">
                     {{message.message}} 
                </div>
                <img *ngIf ="message.id != 1" class="item-image" src="https://cdn.pixabay.com/photo/2018/02/08/22/27/flower-3140492__340.jpg" alt="...">
            </div>
          </div>
        </div>

      </mat-list>
      <mat-card class="chat-comment-card">
          <div class="comment-group">
            <textarea class="comment-area" placeholder="Leave a comment"></textarea> 
            <div class="comment-button" (click) ="handleClick()"><span>
                <mat-icon class="send-icon">send</mat-icon>
            </span></div>           
          </div>
          
      </mat-card>
  </mat-card>
</div>

