.chat-card{
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0); 
    -moz-transform: translate3d(-50%, -50%, 0);  
    transform: translate3d(-50%, -50%, 0); 

}
.left-chat-card{
    display: inline-block;
    background-color: rgba(52, 152, 219, 1);
    
    width: 30%;
}
.right-chat-card{
    display: inline-block;
    background-color: rgba(82, 179, 217, 0.6);
    width: 60%;
}
.left-chat-list{
    max-height: 400px;
    height: 400px;
    overflow: auto;
}
.left-chat-list-item-user{
    position: relative;
    float: left;
}
.left-chat-list-item-user:hover{
    cursor: pointer;
    background-color: aqua;
}
.left-chat-list-item-friend{
    position: relative;
    float: left;
}
.left-chat-list-item-friend:hover{
    cursor: pointer;
    background-color: aqua;
}
.chat-item{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgba(77, 5, 232, 0.5);
    padding: 10px;
    box-sizing: border-box;
    display: block;
    /* max-width: 100px; */
}