<div class="login-page">
    <div class="progress-holder">
        <mat-progress-bar *ngIf = "isClick" class="progress-login-bar" mode="query"></mat-progress-bar>
    </div>
    <mat-card class="login-card">
        <mat-card-title-group>
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Please login to my page</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Input">
                </mat-form-field>
              
                <mat-form-field>
                  <textarea matInput placeholder="Textarea"></textarea>
                </mat-form-field>
              
                <mat-form-field>
                  <mat-select placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="handleClick()" mat-button>Click me!</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-card-subtitle>Please login to my page</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>

